{% extends 'layout.html' %}

{% block body %}
<main role="main">
	<section id="welcomeMat">
	<div class="jumbotron text-center">
		<div class="container">
			<h1 class="display-3">Welcome to YourSkill.gg</h1>
			<p class="lead" style="text-align: left">This tool will provide you with a basic match history for any League of Legends player you provide! Try it below! Pages are static for maximium compatability! More features will be added soon!</p>
		</div>
	</div>
	</section>
	<section id="formsForDays">	
		<div class="container">
			<div class="col-md-12">
				<form action="/" class="form justify-content-center" method="get">
					<div class="input-group">
						<label class="sr-only" for="summonerName">Summoner</label>
				  		<input type="text" class="form-control mb-2 mr-sm-2" name="summonerName" placeholder="e.g. DankGanjaLord420">
				  		<span class="input-group-btn">
				  			<input type="submit" value="Lookup Summoner" class="btn btn-primary text-white">
				  		</span>
			  		</div>
				</form>
			</div>
		</div>
	</section>
</main>
{% endblock %}